.editor-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    z-index: 9999;

    @import "gjs";
}
.editor-hidden{
    display: none;
}
.swal2-container{
    z-index: 9999999;
}

.toastify.toastify-success{
    background: #28a745;
}
.toastify.toastify-info{
    background: #17a2b8;
}
.toastify.toastify-warning{
    background: #ffc107;
}
.toastify.toastify-error{
    background: #dc3545;
}

